*.class
*.log

# include those pesky tmp directories but none of the files written there
tmp/**/*
!IGNORE.ME
!*/

# sbt specific
.cache
.history
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/*
*.iml
tags
.ivy2
.sbt
.bash_history
projectFilesBackup/*


